@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Light mode (default) */
:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

/* Dark mode (controlled by next-themes) */
.dark {
  --background: 2 6 23;
  --foreground: 226 232 240;
}

/* Apply variables */
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}
